.frame {
  display: flex;
  place-content: center;
  margin: 4rem;
}

.textInput {
  padding: 5px;
  width: 30rem;
  min-height: 22px;
  height: fit-content;
  border: .125px solid grey;
  border-radius: 5px;
}

button {
  height: 22px;
  border: .125px solid grey;
  border-radius: 5px;
  align-content: center;
}

ul {
  list-style-type: none;
  border: 1px solid black;
  padding: 2rem;
}
