.frame {
  display: grid;
  place-content: center;
  margin-top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding: 2rem;
}

.card {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px;
  min-height: 500px;
  width: 400px;
  display: grid;
  gap: 5px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-flow: wrap;
  justify-content: center;
}

.queryForm {
  display: grid;
  place-items: center;
}

.textInput {
  padding: 5px;
  width: 30rem;
  min-height: 22px;
  height: fit-content;
  border: .125px solid grey;
  border-radius: 5px;
}

button {
  height: 22px;
  border: .125px solid grey;
  border-radius: 5px;
  align-content: center;
}

h3 {
  text-align: center;
}